@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #ed732e;
  --orange-dark: #98400d;
  --pink: #fb6bc8;
  --pink-dark: #eb0e9d;
  --white: #fff;
  --black-muted: #3d3935;
}

body {
  overflow-x: hidden;
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.spacing {
  padding: 0 1.5rem;
}
