@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #ed722d;
  --pink: #fb6bc8;
  --pink-dark: #eb0e9d;
  --white: #fff;
  --black-muted: #3d3935;
}

html,
body {
  overflow-x: hidden !important;
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.spacing {
  padding: 0 1.5rem;
}

.huge-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.huge-bg-text-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -15%);
}

.landing-hero {
  background: radial-gradient(
    circle closest-side,
    #f12711,
    #ed722d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-yellow-pattern {
  background: linear-gradient(to bottom, rgba(254, 205, 136, 0.9), rgba(254, 205, 136, 0.9)),
    url('../assets/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-pink-pattern {
  background: linear-gradient(to bottom, rgba(252, 142, 172, 0.9), rgba(252, 142, 172, 0.9)),
    url('../assets/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-orange-pattern {
  background: linear-gradient(to bottom, rgba(255, 92, 53, 0.95), rgba(255, 92, 53, 0.95)), url('../assets/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.terms {
  color: var(--black-muted);

  p {
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--black-muted);
  }

  h2 {
    font-size: 22px;
    margin: 16px 0;
    color: #000;
  }

  h3 {
    font-size: 18px;
    margin: 8px 0;
    color: #000;
  }

  ol {
    margin-left: 20px;
    padding-left: 20px;
    list-style: decimal;
    li {
      margin-bottom: 8px;
      font-size: 16px;
      color: var(--black-muted);
    }
  }

  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 18px;
      margin: 8px 0;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-bottom: 8px;
    }
    ol {
      li {
        margin-bottom: 8px;
        font-size: 14px;
      }
    }
  }
}
